*{
     Margin:0;
     padding:0;


     box-sizing: border-box;

}

body{
    background: #202124 ;
    font-family: 'Roboto', sans-serif;

    -webkit-font-smoothing: antialiased !important;
} 

li{
    list-style: none;
}

.bground{
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background:#2c2a2a;
    margin-bottom: 20px;

}

header{
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin:auto;
    margin-bottom: 2%;

    display: flex;
    align-items:center;
      
}

div.menu{
    width: 100%;
    height: 50px;
    float: left;
    flex-direction: column-reverse;

    display:flex;
    margin-left:110px;
    

}
div.menu  ul.ulMenu div.div-img-logo{
    position: absolute;

}
div.menu a.aMenu img.logo {
    width: 15%;
    height: 50px;
    float: left;
    justify-content: right;
   
  
    padding-bottom: 5px;
    margin-right:125px;

}


div.menu nav.nav ul.ulMenu{
    justify-content: center;
    align-items: center;
    float: left;
    margin-top: 5px;

}

div.menu nav.nav ul.ulMenu li.liMenu{
   float: left;
   margin: 10px;
    
    
    
}

div.menu nav.nav ul.ulMenu li.liMenu a.aMenu{
    width: 100%;
    height: 100%;
   


    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    border-style: none;
    
}

.divBusca{
    
    float: left;
}


.txtBusca{
    width:50%;
    border-radius: 5px;
    border: none;
    border-style: none;
    margin-top:17px ;
    color: white;
    outline: 0;
    box-shadow: none;
    margin-left:95px;
    background-color: transparent;
    font-family:'Roboto', sans-serif;
    float: left;
}

.btnBusca{
    background:#2c2a2a;
    border-style:none; 
    width:14% ;
    float: left;   
}

.btnImgBusca{
    margin-top: 10px;
    width:30px;
    height: 35px;
}

.img1{

    height:50px;

}

.main{
  max-width: 500px;
  margin:0 auto;
  
}

div.newPost{
    width: 100%;
    height: 240px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding:25px;
    margin-bottom: 5%;

    background:#2c2a2a;
    border-radius:10px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.2);

}
div.newPost div.infoUser{
    display:flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.infoUser div.imgUser{
    max-width: 35px;
    max-height: 35px;
    width: 35px;
    height: 35px;
    border-radius:50%;
    background: rgb(32, 31, 31);
    display: flex;
}

div.newPost div.infoUser div.imgUser img.imgPerfil{
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 100px;
}

div.newPost div.infoUser strong{
    font-size:16px;
    margin-left: 10px;
    color:#db2c95;
    
}

div.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea{
    height: 90px;
    background: #4b4747;
    margin: 15px 0;
    padding: 25px;
    border-radius:10px;
    resize: none;
    outline:none;
    border:0;

    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color:#cfcfcf;
}

div.newPost form.formPost div.iconsAndButton{
    display:flex;
    align-items: center;
    justify-content: space-between;

}

div.newPost form.formPost div.iconsAndButton div.icons{
    width:100px;
    display: flex;

    align-items: center;
    justify-content:space-between ;
}


div.newPost form.formPost div.iconsAndButton div.icons button{
    outline:none;
    display: center;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border:0;
    background:none;

    cursor:pointer;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmitForm{
    background: #8F2364;
    padding: 10px 50px;
    color:#fff;
    font-weight: bold;
    outline:none;
    cursor: pointer;
    
    border:0;
    border-radius: 10px;
    transition: background 0.2s;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmitForm:hover{
    background:#7a074c;
}       

ul.posts li.post{
    margin-bottom:25px;
    width:100%;
    background: #2c2a2a;
    border-radius: 10px;
    padding:25px;
    box-shadow: 1px 0 3px rgba(0,0,0,0.05);

}

ul.posts li.post div.infoUserPost{
    display: flex;
    align-items: center;

}

ul.posts li.post div.infoUserPost div.nameAndHour{
    margin-left: 10px;
}

ul.posts li.post div.infoUserPost div.imgUserPost{
    width: 30px;
    height: 30px;
    border-radius:50%;  
    background: #23A0FF;

}

ul.posts li.post div.infoUserPost div.nameAndHour >strong{
    color:#db2c95;

}

ul.posts li.post div.infoUserPost div.nameAndHour >p{
    color: #D1D1D1;
    font-size: 12px ;

}

ul.posts li.post div.imgPost{
    
    width:100%;
    height: 400px;
    margin: 15px 0;
    padding: 0px;
    border-radius:10px;
    resize: none;
    outline:none;
    border:0;

    background: rgb(83, 81, 81);
    border-radius: 10px;
}

ul.posts li.post div.imgPost img.imgPosti{
    width: 100%;
    height: 100%;
    justify-content: center;
    border-radius: 10px;
    

}

ul.posts li.post div.textPost >p{
    width: 100%;
    margin:20px 0;
    font-weight: Bold;
    color:#c5c5c5;
    

}

ul.posts li.post div.actionBtnPost{
    display:flex;
    align-items:center;
    justify-content: left;
}

ul.posts li.post div.actionBtnPost button.filesPost{
    padding:5px 20px;
    border:0;
    display: flex;
    align-items: center;
    outline:none;
    color: #fff;
    font-size: 16px;
    
    font-weight: bold;
    justify-content: center;
    margin-right: 10px;
    border-radius: 10px;
    cursor:pointer;

    transition: background 0.2s;
}

ul.posts li.post div.actionBtnPost button.filesPost img{
    margin-right: 0px;
}

.like{
    background: #2c2a2a;
}
.like:hover{
    background: #af0303;
}

.comment{
    background: #2c2a2a;
}

.comment:hover{
    background: #e4e003;
    
}

.share{
    background: #2c2a2a;
}

.share:hover{
    background: #33c008;
}